.content_about {
  height: 650px;
  /*     background-color: #696666; */
}
@media (min-width: 960px) {
  .content_about {
    height: 603px;
  }
}
.content_about .container {
  padding-top: 50px;
}
@media (min-width: 960px) {
  .content_about .container {
    padding-top: 115px;
  }
}
.content_about .container .leaders {
  color: #585858;
  font-family: 'Gotham_Rounded_Book_Italic', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 47px;
}
@media (min-width: 960px) {
  .content_about .container .leaders {
    margin-bottom: 30px;
  }
}
.content_about .container .contentTitle {
  color: #585858;
  font-family: 'Gotham_Rounded_Book', sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 47px;
}
.content_about .container .decorationBlock {
  width: 138px;
  height: 5px;
  background-color: #4acaff;
  margin-bottom: 47px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 960px) {
  .content_about .container .decorationBlock {
    margin-left: 410px;
    margin-bottom: 55px;
  }
}
.content_about .container .contentText {
  color: #585858;
  font-family: 'Gotham_Rounded_Book', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 47px;
}
@media (min-width: 960px) {
  .content_about .container .contentText {
    margin-bottom: 79px;
  }
}
.content_about .container .aboutBtn {
  display: block;
  width: 280px;
  height: 60px;
  border: 2px solid #4acaff;
  border-radius: 10px;
  color: #4acaff;
  font-family: 'Gotham_Rounded', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 24px 24px 22px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 960px) {
  .content_about .container .aboutBtn {
    margin-left: 332px;
  }
}
