.header{
    /* width: 100%; */
    height: 853px;
    background: url(../img/header_bg.png) center center;
    background-size: cover;
    .container{
        padding-top: 88px;
        .navbarWrapper{
            display: flex;
            justify-content: space-between;
            padding-left: 18px;
            margin-bottom: 230px;
            .logo{
                color: #ffffff;
                text-decoration: none;
                font-family: 'Gotham_Rounded_Book', sans-serif;
                font-size: 31px;
                line-height: 19.39px;
                &:hover{
                    font-family: 'Gotham_Rounded_Bold', sans-serif;
                    font-weight: 700;
                    letter-spacing: -2px;
                }
                .bytes{
                    font-family: 'Gotham_Rounded_Bold', sans-serif;
                    font-weight: 700;
                    letter-spacing: -2px;
                }
                .cons{
                    font-family: 'Gotham_Rounded_Book', sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 19.39px;
                    letter-spacing: 10.2px;
                }
            }
            .navbar{
                display: flex;
                list-style: none;
                font-family: 'Gotham_Rounded', sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 25px;
                text-transform: uppercase;
                li{
                    margin-right: 27px;
                    &:hover{
                        border-top: 4px solid #4acaff;
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }
        }
        .headerText{
            color: #ffffff;
            font-family: 'Gotham_Rounded_Book_Italic', sans-serif;
            font-size: 55px;
            font-weight: 400;
            letter-spacing: -2.75px;
        }
        .formPlace{
            .placeSearch{
                width: 737px;
                height: 50px;
                background-color: #ffffff;
                padding: 18px 0 18px 20px;
                outline: none;
                border: none;
                border-bottom: 4px solid #e2e2e2;
                margin-right: 79px;
                font-family: 'Gotham_Rounded_Book_Italic', sans-serif;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 29px;
            }
            .btnSearch{
                width: 140px;
                height: 50px;
                background-color: #4acaff;
                outline: none;
                border: none;
                border-bottom: 4px solid #3baedd;
                color: #ffffff;
                font-family: 'Gotham_Rounded_Book_Italic', sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 25px;
                i{
                    font-size: 15px;
                }
                &:hover{
                    background-color: #ffffff;
                    color: #4acaff
                }
            }
            .checkBox{
                margin-right: 14px;
            }
            .labelTime{
                margin-right: 32px;
                color: #ffffff;
                font-family: 'Gotham_Rounded_Book_Italic', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 25px;
            }
            .labelWork{
                margin-right: 142px;
                color: #ffffff;
                font-family: 'Gotham_Rounded_Book_Italic', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 25px;
            }
            .yourLocation{
                width: 247px;
                color: #c7c7c7;
                font-family: 'Gotham_Rounded_Book_Italic', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 25px;
                padding: 13px 0 13px 17px;
            }
        }
    }
}
